:root {
  --white: #fff;
  --gray: #efefef;
  --dark-gray: #525252;
  --black: #000;

  --success: #216e55;
  --error: #c11010;

  --dark-blue: #060d2d;
  --dark-blue-700: #132686;
  --dark-blue-400: #2040df;
  --dark-blue-300: #4d66e5;
  --medium-blue: #2040df;
  --ligth-blue: #e9ecfc;

  // ===== SAVED COLORS ===== \\

  --blue-dark-900: #00171f;
  --blue-dark-800: #003459;
  --blue-dark-700: #007ea7;
  --blue-dark-600: #00a8e8;

  // ===== FINAL SAVED COLORS ===== \\
}
