<div class="container">
  <div class="content">
    <div class="title-login">LOGIN</div>

    <div class="login-form">
      <form class="form-group">
        <div class="input-contain">
          <!-- <label class="placeholder-text" for="username" id="username"
            >Usuário
          </label> -->
          <input
            class="login-inputs"
            type="text"
            name="username"
            autocomplete="off"
            placeholder="Nome de Usuário"
          />
          <input
            class="login-inputs"
            type="text"
            name="password"
            autocomplete="off"
            placeholder="Senha"
          />
        </div>

        <div class="btns-login">
          <button class="login-button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
